certifi==2019.3.9
chardet==3.0.4
Click==7.0
decorator==4.4.0
dimod==0.8.19
dwave-neal==0.5.2
dwave-networkx==0.8.3
dwavebinarycsp==0.0.12
homebase==1.0.1
idna==2.8
jsonschema==2.6.0
networkx==2.4
numpy==1.15.4
ortools==6.10.6025
penaltymodel==0.16.2
penaltymodel-cache==0.4.0
penaltymodel-lp==0.1.0
penaltymodel-maxgap==0.5.1
penaltymodel-mip==0.2.1
plucky==0.4.3
protobuf==3.11.2
pyqubo==0.4.0
PySMT==0.7.0
PySocks==1.7.0
python-dateutil==2.8.0
requests==2.22.0
scipy==1.4.1
six==1.14.0
urllib3==1.25.3
wincertstore==0.2
